.cell {
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  background-color: white; /* Couleur initiale */
  overflow: hidden; /* Empêche le pseudo-élément de dépasser */
  transition: background-color 1s ease;
}

.cell::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: transparent;
  border-radius: 10%;
  transform: translate(-50%, -50%) scale(0);
  transition:
    transform 0.8s ease,
    background-color 0.1s ease;
}

.start {
  background-color: green;
}

.end {
  background-color: red;
}

.obstacle {
  background-color: gray;
}

.empty {
  background-color: white;
}

.path {
  background-color: yellow;
}

.visited::after {
  animation: gradientEffect 3s cubic-bezier(0, 0.4, 1, 1) forwards; /* a modifier */
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%) scale(1);
}

@keyframes gradientEffect {
  0% {
    background-color: red;
  }
  40% {
    background-color: rgb(38, 38, 192);
  }
  100% {
    background-color: rgb(49, 157, 184);
  }
}
